<section class="article-edit">
  <article>
    <header class="article-edit__heaedr">
      <h1 class="article-edit__header__title">
        {{model.id}}
      </h1>
      <nav class="article-edit__header__controls">
        <button class="article-edit__header__controls__save" {{action 'save'}}>Save</button>
        <button class="article-edit__header__controls__delete" {{action 'delete'}}>Delete</button>
      </nav>
    </header>
    <section class="article-edit__body">
      {{textarea value=model.body placeholder='Body' rows="15" class="article-edit__body__input" }}
      <div class="article-edit__body__preview">
        {{format-markdown model.body}}
      </div>
    </section>
  </article>
</section>
