<div>
  <h1 class="article__title"> {{model.id}}
    <small class="pull-right">
      <button class="btn btn-danger " {{action 'delete'}}>Delete</button>
    </small>
  </h1>
</div>
<div class="col-md-6">
  <p>
  <span {{bind-attr class="errors.id.length:has-error"}}>
    {{input value=model.id placeholder='Title' class="form-control"}}
    <span class="help-block">{{errors.id}}</span>
  </span>
  </p>
  <p>
  {{textarea value=model.body placeholder='Body' rows="15" class="form-control article-edit__body"}}
  </p>
  {{#if errors.id}}
    <button class="btn btn-primary pull-right disabled">Save</button>
  {{else}}
    <button class="btn btn-primary pull-right" {{action 'save'}}>Save</button>
  {{/if}}
</div>
<div class="col-md-6">
  <h1>{{model.id}}</h1>
  {{format-markdown model.body}}
</div>
