<div class="col-md-6" >
  <p>
  <span {{bind-attr class="errors.id.length:has-error"}}>
    {{input value=model.id placeholder='Title' class="admin-new-article__title"}}
    <span class="help-block">{{errors.id}}</span>
  </span>
  </p>
  <p>
  {{textarea value=model.body placeholder='Body' rows="15" class="form-control admin-new-article__body"}}
  </p>
  <button class="admin-new-article__save" {{action 'save'}}>Save</button>
</div>
<div class="col-md-6">
  <h1>{{model.id}}</h1>
  {{format-markdown model.body}}
</div>
