
{{!--   <h1>{{model.Key class="article__title"}}</h1>
  <p>{{model.Body class="article__body"}}</p> --}}

<div class="container">
  <h1 class="article__title"> {{model.Key}} 
    <small class="pull-right">
      <button class="btn btn-danger " {{action 'delete'}}>Delete</button>
      {{#link-to 'article.edit'}}
      <button class="btn btn-success">Edit</button>
      {{/link-to}}
    </small>
  </h1>
</div>
<div class="article__body">
  <div class="container">
    {{format-markdown model.Body}}
  </div>
</div>
