<div class="col-md-6">
  <p>
  {{input value=model.id placeholder='Title' class="form-control"}}
  </p>
  <p>
  {{textarea value=model.body placeholder='Body' rows="15" class="form-control article-edit__body"}}
  </p>
  <button class="btn btn-primary pull-right" {{action 'save'}}>Save</button>
</div>
<div class="col-md-6">
  <h1>{{model.id}}</h1>
  {{format-markdown model.body}}
</div>
