<nav class="navbar navbar-default navbar-fixed-top application__navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar__brand" href="#"><img src="assets/images/logo-white.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar__item-list">
        <li>
          {{#link-to 'articles' class="navbar__item"}}
            Articles
          {{/link-to}}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#if session.isAuthenticated}}
            <a {{ action 'invalidateSession' }}>Logout</a>
          {{else}}
            {{#link-to 'login'}}Login{{/link-to}}
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="application__content">
  {{outlet}}
</div>


<footer class="footer application__footer">
  <div class="footer__label container">
    <img class="footer__logo" src="assets/images/logo-dark.png">
    <span class="footer__text">is proudly open-source software © 2015</span>
    <span class="pull-right footer__links">
      <a href='#'>{{fa-icon "twitter"}}</a>
      <a href='https://github.com/A-Helberg/adlet'>{{fa-icon "github"}}</a>
    </span>
  </div>
</footer>

