<nav class="navbar navbar-default navbar-fixed-top application__navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar__brand" href="#"><img src="assets/images/logo-white.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar__item-list">
        <li><a class="active navbar__item">Articles</a></li>
        <li><a class="navbar__item">Admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#if session.isAuthenticated}}
            <a {{ action 'invalidateSession' }}>Logout</a>
          {{else}}
            {{#link-to 'login'}}Login{{/link-to}}
          {{/if}}
        </li>
      </ul>
    </div>
  </div>



</nav>

<div class="container application__content">
  {{outlet}}
  <h1>Some booty</h1>

<p>Plaid heirloom American Apparel Austin, chia 8-bit yr church-key PBR Etsy. Art party Blue Bottle meggings, +1 butcher swag pour-over sartorial kale chips photo booth High Life four dollar toast lomo church-key. Tumblr sustainable ugh, actually master cleanse farm-to-table kale chips. Street art XOXO chia health goth, mumblecore try-hard mlkshk cold-pressed kitsch normcore Pitchfork plaid. Crucifix selfies cold-pressed viral freegan. Taxidermy YOLO art party American Apparel plaid Schlitz, four dollar toast migas. Portland blog asymmetrical retro.

Pinterest kitsch ennui artisan, Shoreditch migas single-origin coffee asymmetrical. Tattooed Intelligentsia banh mi typewriter. Dreamcatcher ennui jean shorts, yr polaroid disrupt Austin Kickstarter Brooklyn kogi tattooed American Apparel. Try-hard Blue Bottle kale chips American Apparel bicycle rights. Kale chips gastropub kogi, Truffaut roof party skateboard gluten-free. Tattooed whatever jean shorts, PBR&B narwhal fashion axe aesthetic street art iPhone readymade shabby chic chambray DIY. Next level flexitarian Godard pickled, church-key leggings craft beer dreamcatcher polaroid ethical DIY messenger bag.

Pug brunch tilde meh disrupt, PBR&B biodiesel 3 wolf moon Shoreditch Bushwick skateboard post-ironic raw denim Odd Future Williamsburg. Dreamcatcher shabby chic 8-bit, lo-fi Shoreditch cray 3 wolf moon messenger bag gluten-free DIY farm-to-table. Wolf sartorial health goth cliche Banksy butcher, drinking vinegar slow-carb asymmetrical artisan. Wolf hella before they sold out, banh mi salvia squid mumblecore bitters. Banh mi aesthetic cred literally. Chia before they sold out crucifix migas Brooklyn ethical. Taxidermy irony fingerstache, Pinterest before they sold out brunch yr Helvetica tote bag bitters whatever umami letterpress hoodie chillwave.

Narwhal sartorial listicle, biodiesel fixie DIY deep v Williamsburg bitters. Yr cardigan food truck you probably haven't heard of them cornhole, keytar street art meggings meditation. Bitters kitsch lumbersexual church-key bespoke swag, cold-pressed pug. Cronut banh mi Etsy, normcore farm-to-table Pitchfork wayfarers Williamsburg scenester occupy bespoke. Cliche squid blog salvia letterpress roof party. YOLO listicle iPhone, Shoreditch chambray Pinterest food truck Banksy pop-up cray crucifix wayfarers American Apparel bicycle rights. Cornhole gentrify crucifix letterpress flannel.</p>


</div>


<footer class="footer application__footer">
  <div class="footer__label container">
    <img class="footer__logo" src="assets/images/logo-dark.png">
    <span class="footer__text">is proudly open-source software © 2015</span>
    <span class="pull-right footer__links">
      <a href='#'>{{fa-icon "twitter"}}</a>
      <a href='https://github.com/A-Helberg/adlet'>{{fa-icon "github"}}</a>
    </span>
  </div>
</footer>
